<div class="row">
  <div class="col-sm-6 ">
    <h1>Смена пароля</h1>

    <%= form_for(resource, :as => resource_name,
    :url => password_path(resource_name),
    :html => { :method => :put, :role => "form" }) do |f| %>

    <%= devise_error_messages! %>

    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "Новый пароль" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Подтвердите новый пароль" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Сохранить новый пароль", class: "btn btn-danger" %>
      </div>
    </div>


    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
