
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= simple_form_for(@setting, url: admin_setting_path(@setting.var), method: 'patch') do |f| %>
    <div class="form-inputs well">
      <%= f.input :value, as: :string, :label => "#{@setting.var}" %>
    </div>

    <div class="form-actions">
      <%= f.submit "Сохранить", :class =>'btn btn-primary' %>
    </div>
<% end %>


</div>
</div>
