<h3 class="text-info">Панель редактирования опций <small> <%= link_to "<< Вернуться на главную", admin_root_path, class: "btn btn-sm btn-default pull-right" %>
    </small></h3>

    <hr/>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
<div class="panel panel-danger">
  <div class="panel-heading"> Конфигурация
  </div>
  <div class="panel-body">

    <table class="table table-stripe table-hover">
      <tr>
        <th>Опция</th>
        <th>Значение</th>
        <th></th>
      </tr>
      <% Setting.find_each do |s| %>
      <tr>
        <td><%= s.var %></td>
        <td><%= s.value %></td>
        <td><%= link_to 'Редактировать', edit_admin_setting_path(s.var), class: "btn btn-sm btn-primary"  %></td>
      </tr>
      <% end %>
    </table>
    </div>
  </div>
  </div>
  </div>
