<%- model_class = Setting -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:var) %>:</strong></dt>
  <dd><%= @setting.var %></dd>
  <dt><strong><%= model_class.human_attribute_name(:value) %>:</strong></dt>
  <dd><%= @setting.value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:thing_id) %>:</strong></dt>
  <dd><%= @setting.thing_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:thing_type) %>:</strong></dt>
  <dd><%= @setting.thing_type %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              settings_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_setting_path(@setting), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              setting_path(@setting),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
