<% title("Admin") %>
<h1 class='text-info'>Панель Администратора <small>Главная</small></h1>
<hr/>
<div class="row">
  <div class="col-sm-4 well">
    <h4 class="text-info"><strong>Панель Управления</strong></h4>
    <hr/>
    <h4><%= link_to "Операторы", admin_users_path %> <small>создание, редактирование операторов</small></h4>
    <h4><%= link_to "Настройки", admin_settings_path %> <small>настройка бонусов и других опций</small></h4>
    <hr/>
  </div>

  <div class="col-sm-4 ">
    <h3>Активность Операторов</h3>
    <ul class="list-unstyled">
      <% @last_signups.each do |user| %>
      <li class="list-padded-bottom">
        <%= link_to user.email, edit_admin_user_path(user) %><br/>
        <small><%= time_ago_in_words(user.created_at)%> ago</small>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-4">
    <h3></h3>
    <ul class="list-unstyled">
      <% @last_signins.each do |user| %>
      <li class="list-padded-bottom">
        <%= link_to user.email, edit_admin_user_path(user) %><br/>
        <small>
          <% unless user.last_sign_in_at.nil? %>
          <%= time_ago_in_words(user.last_sign_in_at)%> ago
          <% else %>
          never
          <% end %>
        </small>
      </li>
      <% end %>
    </ul>
  </div>

</div>
