<% title("Админ панель операторов") %>
<h3 class="text-info">Учетные записи операторов <small>создание новых, удаление или редактирование учетных записей операторов</small></h3>
<hr/>
<p><%= link_to "<< Вернуться на главную", admin_root_path, class: "btn btn-sm btn-default" %></p>

<div class="text-center">
  <p><%#= page_entries_info @users %></p>
  <%#= paginate @users %>
</div>

<%= form_tag admin_users_path, method: 'get', html: {role: "form"} do %>
<p class="well">
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Поиск", :name => nil, class: "btn btn-sm btn-primary" %>
  <%= link_to "Показать всех операторов", admin_users_path, {class: "btn btn-sm btn-link"} %>
</p>
<% end %>
<br>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Список операторов</div>
  <div class="panel-body">
  
  </div>

  <!-- Table -->
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Email</th>
    <th>Админ</th>
    <th>Заблокирован</th>
    <th>К-во входов</th>
    <th>Создан</th>
    <th>Посл. вход</th>
    <th>IP п-го входа</th>
  </tr>

  <% @users.each do |user| %>

  <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.email, admin_user_path(user) %></td>
    <td><%= user.admin? ? "<b>yes</b>".html_safe : "no" %></td>
    <td><%= user.locked? ? "<b>yes</b>".html_safe : "no" %></td>
    <td><%= user.sign_in_count %></td>
    <td><%= time_ago_in_words(user.created_at) %></td>
    <% unless user.last_sign_in_at.nil? %>
    <td><%= time_ago_in_words(user.last_sign_in_at)%> ago</td>
    <% else %>
    <td>never</td>
    <% end %>
    <td><%= user.last_sign_in_ip %></td>
  </tr>

  <% end %>

</table>

  </div>
  <br /> 
<%= link_to "Добавить Оператора", new_admin_user_path, class: ' btn btn-sm btn-primary' %>
  <div class="text-center">
  <p><%#= page_entries_info @users %></p>
  <%= paginate @users %>
</div>
