<%= simple_form_for @transaction, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :user, label_method: :email, value_method: :id, include_blank: false %>
  <%#= error_span(@transaction[:user_id]) %>
  <%= f.association :account,  label_method: :full_name, value_method: :id, include_blank: false%>
  <%#= error_span(@transaction[:account_id]) %>
  <%= f.input :amount %>
  <%#= error_span(@transaction[:amount]) %>
  <%= f.input  :transaction_type,  collection: ['Пополнение', 'Затраты'] %>
  <%#= error_span(@transaction[:transaction_type]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transactions_path, :class => 'btn btn-default' %>
<% end %>
