  <div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading"> 
    Транзакции
  </div>
  <div class="panel-body">
<div class="pull-right">
  <%= page_entries_info @transactions, :entry_name => '' %>
 </div>
 <%= paginate @transactions %>
 <table class="table table-striped table-hover">
  <thead>
    <tr>
      
      <th>Оператор</th>
      <th>Аккаунт</th>
      <th>Сумма</th>
      <th>Тип</th>
      <th>Баланс</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      
      <tr>
        <td><%= transaction.user.email %></td>
        <td><%= link_to transaction.account.full_name, account_path(transaction.account) rescue "-" %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.transaction_type %></td>
        <td>
          <%= transaction.created_at.strftime("%d/%m/%Y %H:%M") %>
        </td>
        <td>
          <%= link_to "Смотр.", transaction_path(transaction), :class => 'btn btn-default btn-xs'%>
          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_transaction_path(transaction), :class => 'btn btn-default btn-xs' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      transaction_path(transaction),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 <div class="pull-right">
  <%= page_entries_info @transactions, :entry_name => 'тр' %>
 </div>
 <%= paginate @transactions %>
 
  </div>
</div>
  </div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Поиск по транзакциям</div>
    <div class="panel-body">
         <%= ransack_simple_form_for @q , :html => { :class => 'form-vertical ' } do |f| %>
           <%= f.input  :user_id_eq ,:collection => User.all, :label_method => :email, :value_method => :id, :label => "Оператор" ,:include_blank => true %>
           <%= f.input  :account_card_type_eq ,:collection => Account::CARD_TYPES,  :label => "Тип карты" ,:include_blank => true %>
           <%= f.input  :transaction_type_eq ,   :collection => Account::OPERATIONS,  :label => "Тип Транзакции" ,:include_blank => true %>
           <h5><strong class="text-info">Транзакции созданы в период:</strong></h5> 
           <div class="alert alert-info">
           <%= f.input  :created_at_gteq, as: :date,  :label => "От:" ,:include_blank => true, class: 'form-control  '%>
            <%= f.input :created_at_lteq, as: :date,   :label => "До:" ,:include_blank => true, class: 'form-contol'  %>
            </div>
            <br/>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :amount_gteq , label: 'Сумма от'%>
          </div>
          <div class="col-md-6">
            <%= f.input :amount_lteq , label: '- до'%>
          </div>
          </div>

        <%= f.button :submit, "Поиск", :class => 'btn-primary btn-block' %>
      <% end %>
   
    
    </div>
  </div>
  <%- if current_user.admin? %> 
    <div class="panel panel-primary">
      <div class="panel-heading"> Аналитика </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><strong>Пополнение:</strong></dt>
          <dd><%= @total_plus %> ландов</dd>
          <dt><strong>Снятие:</strong></dt>
          <dd><%= @total_minus %> ландов</dd>
          <dt><strong>Кол-во операций.:</strong></dt>
          <dd><%= @total_transactions %></dd>
        </dl>
      </div>
    </div>
  <% end %>
</div>
</div>
<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_transaction_path,
            :class => 'btn btn-primary' %>
