<%- model_class = Transaction -%>
<div class="page-header">
  <h3>Информация о транзакции</h3>
</div>

<dl class="dl-horizontal">
  <dt><strong>Оператор:</strong></dt>
  <dd><%= @transaction.user.email %></dd>
  <dt><strong>Клиент:</strong></dt>
  <dd><%= @transaction.account.full_name %></dd>
  <dt><strong>Сумма транзакции:</strong></dt>
  <dd><%= @transaction.amount %></dd>
  <dt><strong>Тип транзакции:</strong></dt>
  <dd><%= @transaction.transaction_type %></dd>
  <dt><strong>Баланс Клиента:</strong></dt>
  <dd><%= @transaction.account.balance %></dd>
  <dt><strong>Номер карты:</strong></dt>
  <dd><%= @transaction.account.card_number %></dd>
  <dt><strong>Тип карты:</strong></dt>
  <dd><%= @transaction.account.card_type %></dd>
  <dt><strong>Дата:</strong></dt>
  <dd><%= @transaction.created_at.strftime("%d/%m/%Y %H:%M") %></dd>
</dl>

<%= link_to "Вернуться",
              transactions_path, :class => 'btn btn-default'  %>
<% if current_user.admin %>              
  <%= link_to "Редактировать",
              edit_transaction_path(@transaction), :class => 'btn btn-default' %>
  <%= link_to "Удалить",
              transaction_path(@transaction),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
