
<%- @account.transactions.find_each do |transaction| %>
  <div class="panel panel-default">
    <div class="panel-heading"><strong><%= link_to "transaction##{transaction.id}", transaction_path(transaction) %></strong>
     сделана 
     <%= link_to "#{transaction.user.email}", admin_user_path(transaction.user) %>
      <strong class="text-muted pull-right"> <%= transaction.created_at.strftime("%d/%m/%Y %H:%M") %> </strong>
    </div>
  <div class="panel-body"> 
  <dl class="dl-horizontal">
  <dt><strong>Сумма транзакции:</strong></dt>
  <dd><%= transaction.amount rescue '-'%></dd>
  <dt><strong>Тип транзакции:</strong></dt>
  <dd><%= transaction.transaction_type rescue '-'%></dd>
  <dt><strong>Номер карты:</strong></dt>
  <dd><%= transaction.account.card_number rescue '-'%></dd>
  <dt><strong>Тип карты:</strong></dt>
  <dd><%= transaction.account.card_type rescue '-'%></dd>
</dl>
 </div>
 </div>
<% end %>
