<div class="panel panel-default">
      <div class="panel-heading"> <h5> Информация о клиенте </h5> </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-7">
            <dl class="dl-horizontal">
              <dt><strong>Номер карты:</strong></dt>
              <dd><%= @account.card_number %></dd>
              <dt><strong>Тип Карты:</strong></dt>
              <dd><%= @account.card_type %></dd>
              <dt><strong>Фамилия:</strong></dt>
              <dd><%= @account.last_name %></dd>
              <dt><strong>Имя:</strong></dt>
              <dd><%= @account.first_name %></dd>
              <dt><strong>Отчество:</strong></dt>
              <dd><%= @account.middle %></dd>
              <dt><strong>Возраст:</strong></dt>
              <dd><%= @account.age %></dd>
              <dt><strong>Баланс:</strong></dt>
              <dd><%= @account.balance %></dd>
              <dt><strong>День Рождения:</strong></dt>
              <dd><%= @account.dob.strftime("%d/%m/%Y") rescue '-'%></dd>
              <dt><strong>Дата создания аккаунта:</strong></dt>
              <dd><%= @account.created_at.strftime("%d/%m/%Y %H:%M") %></dd>
              <dt><strong>Оператор:</strong></dt>
              <dd><%= @account.user.email %></dd>
            </dl>
          </div>
          
          <div class="col-md-5 well">
            <%= simple_form_for @account.transactions.new, :html => { :class => 'form-horizontal ' } do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :account_id, value: @account.id %>
              <%= f.input :amount,  label: 'Сумма транзакции', required: true, input_html: { min: '0' } %>
              <%#= error_span(@transaction[:amount]) %>
              <%= f.input  :transaction_type, label: 'Тип транзакции', collection: Account::OPERATIONS, include_blank: false %>
              <%#= error_span(@transaction[:transaction_type]) %>
              <%= f.button :submit,"Утвердить", :class => 'btn-primary' %>
              <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                          transactions_path, :class => 'btn btn-default' %>
            <% end %>
          </div>
        </div>
          <hr>
      <% if current_user.admin? %>              
        <%= link_to "Редактировать",
                  edit_account_path(@account), :class => 'btn btn-default' %>
        <%= link_to   "Удалить",
                  account_path(@account),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
      <% end %>
    </div>
    </div>

