<div class="row">
  <div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading"> База Данных Кидландии 
  
<%= link_to "Добавить аккаунт",
            new_account_path,
            :class => 'btn btn-primary btn-xs' %>
  
  </div>
  <div class="panel-body">
  <div class="pull-right">
    <%= page_entries_info @accounts %>
  </div >
    <%= paginate @accounts %>
    <table class="table table-stripe table-hover" data-no-turbolink="true">
      <thead>
        <tr>
          <th> <%= sort_link(@q, :card_number, '#', default_order: :desc) %></th>
          <th> <%= sort_link(@q, :card_type, 'Тип', default_order: :desc) %></th>
          <th> <%= sort_link(@q, :last_name, 'Фамилия', default_order: :desc) %></th>
          <th> <%= sort_link(@q, :first_name, 'Имя', default_order: :desc) %></th>
          <th> <%= sort_link(@q, :balance, 'LD', default_order: :desc) %></th>
          <th> <%= sort_link(@q, :created_at, 'Рег.', default_order: :desc) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= link_to account.card_number, account_path(account) %></td>
            <td><%= account.card_type %></td>
            <td><%= account.last_name %></td>
            <td><%= account.first_name %></td>
            <td><%= account.balance %></td>
            <td><%= account.created_at.strftime("%d/%m/%Y") rescue '-'%></td>
            <td>
              
              <%= link_to "Операции",
                          account_path(account), :class => 'btn btn-primary btn-xs' %>
              <%= link_to "Ред.",
                          edit_account_path(account), :class => 'btn btn-default btn-xs' %>
              <%= link_to "Удалить",
                          account_path(account),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
   <div class="pull-right">
    <%= page_entries_info @accounts %>
  </div >
    <%= paginate @accounts %>
  </div>
</div>
  </div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Быстрый поиск</div>
    <div class="panel-body">
       <%= ransack_simple_form_for @q , :html => { :class => 'form-vertical ' } do |f| %>
        <%= f.input :last_name_or_first_name_or_card_number_cont, label: 'Фамилия, Имя, Номер' %>
        <%= f.button :submit, "Поиск", :class => 'btn-primary btn-block' %>
      <% end %>
    </div>
  </div>

  <hr/>

  <div class="panel panel-default">
    <div class="panel-heading">Детальный поиск</div>
    <div class="panel-body">
      <%= ransack_simple_form_for @q , :html => { :class => 'form-vertical ' } do |f| %>
    
        <%= f.input :card_number_cont , label: 'Номер Карты'%>
        <%= f.input :last_name_cont, label: 'Фамилия' %>

        <%= f.input :first_name_cont , label: 'Имя'%>
        
        
        <%= f.input  :user_id_eq ,:collection => User.all, :label_method => :email, :value_method => :id, :label => "Оператор" ,:include_blank => true %>
        <%= f.input  :card_type_eq ,:collection => Account::CARD_TYPES,  :label => "Тип карты" ,:include_blank => true %>
        <h5><strong class="text-info">Созданы в период:</strong></h5> 
        <div class="alert alert-info">
          <%= f.input  :created_at_gteq, as: :date,  :label => "От:" ,:include_blank => true, class: 'form-control  '%>
          <%= f.input :created_at_lteq, as: :date,   :label => "До:" ,:include_blank => true, class: 'form-contol'  %>
        </div>
            
        <h5><strong class="text-info">По дате рождения:</strong></h5> 
        <div class="alert alert-info">
          <%= f.input :dob_gteq, as: :date,  :label => "От:" ,:include_blank => true, class: 'form-control  '%>
          <%= f.input :dob_lteq, as: :date,   :label => "До:" ,:include_blank => true, class: 'form-contol'  %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :balance_gteq , label: 'Баланс от'%>
          </div>
          <div class="col-md-6">
            <%= f.input :balance_lteq , label: '- до'%>
          </div>
        
        </div>
            <%= f.button :submit, "Поиск", :class => 'btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
  
   
  <%- if current_user.admin? %> 
  <div class="panel panel-default">
    <div class="panel-heading">Аналитика</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt><strong>К-во аккаунтов:</strong></dt>
        <dd><%= @total_accounts %></dd>
        <dt><strong>Сумарный баланс:</strong></dt>
        <dd><%= @total_balance %></dd>
        <dt><strong>К-во "Бумажных КЛ":</strong></dt>
        <dd><%= @total_paper %></dd>
        <dt><strong>К-во "Пластиковых КЛ":</strong></dt>
        <dd><%= @total_plastic %></dd>
        <dt><strong>К-во "ВТБ":</strong></dt>
        <dd><%= @total_vtb %></dd>
      </dl>
    </div>
  </div>
  </div>
<% end %>



</div>
